<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardRepMapper">

<insert id="insertReply">
insert into board_reply(bno,cno,writer,regdate,reply) values(#{bno},seq_libcno.nextval,#{writer},sysdate,#{reply})
</insert>

<select id="readReply" resultType="com.spring.domain.BoardRepVO">
select cno,reply,writer,regdate
from board_reply where bno=#{bno}
</select>


</mapper>