<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.mapper.BoardMapper">

<select id="getListWithPaging" resultType="com.spring.domain.BoardVO">
 <!-- 인덱스를 써서 정렬하고 페이지를 나눔 order by보다 빠름 
 부등호를 사용하기 위해 CDATA 사용-->
 <![CDATA[
	select * from
	(select /*+INDEX_DESC(library_board pk_library_board)*/ 
	rownum rn,bno,title,content,writer,regdate,updatedate
	from library_board where 
	rownum <= #{pageNum}*#{amount})
	where rn > (#{pageNum}-1) * #{amount}
	]]><!-- pageNum*amount 끝 번호 pageNum-1 * amount 는 시작번호 -->

</select>

<insert id="insertboard">
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select seq_libbno.nextVal from dual
		</selectKey>
insert into library_board(bno,title,content,password,writer,regdate)
		values(#{bno},#{title},#{content},#{password},#{writer},sysdate)
</insert>

<select id="read" resultType="com.spring.domain.BoardVO">
<!-- select bno,title,writer,content,regdate,updatedate from library_board where bno = #{bno} -->
select * from library_board where bno = #{bno}
</select>

<update id="updateboard">
		update library_board
		set title=#{title}, content=#{content}, updatedate=sysdate
		where bno=#{bno} and password=#{password}
</update>

</mapper>