<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BookMapper">
<insert id="ApplyBook">
insert into ApplyBook(bookname,writer,publisher,publish_year,price,isbn,genre,userid) values(#{bookname},#{writer},#{publisher},#{publish_year},#{price},#{isbn},#{genre},#{userid})
</insert>

<select id="getList" resultType="com.spring.domain.BookVO">
	<![CDATA[
		select * from
		(select /*+INDEX_ASC(bookList pk_bookList)*/
		rownum rn, bookno, bookname, genre, writer, publisher, status
		from bookList where 
	]]>
		<include refid="criteria"/>
	<![CDATA[	
		rownum<=#{pageNum} * #{amount} order by bookno)
		where rn > (#{pageNum}-1) * #{amount} order by bookno
	]]>
</select>

<select id="newbook" resultType="com.spring.domain.BookVO">
<![CDATA[
 
		select * from
		(select /*+INDEX_ASC(bookList pk_bookList)*/
		rownum rn, bookno, bookname, genre, writer, publisher, status
		from (select * from bookList where bookno>=21 and bookno<=30) where 
	]]>
		<include refid="criteria"/>
	<![CDATA[	
		rownum<=#{pageNum} * #{amount})
		where rn > (#{pageNum}-1) * #{amount}
	]]>
</select>

<select id="recommandbook" resultType="com.spring.domain.BookVO">
<![CDATA[
 
		select * from
		(select /*+INDEX_ASC(bookList pk_bookList)*/
		rownum rn, bookno, bookname, genre, writer, publisher, status
		from (select * from bookList where bookno>=31 and bookno<=50) where 
	]]>
		<include refid="criteria"/>
	<![CDATA[	
		rownum<=#{pageNum} * #{amount})
		where rn > (#{pageNum}-1) * #{amount}
	]]>
</select>

<select id="popularbook" resultType="com.spring.domain.BookVO">
<![CDATA[
 
		select * from
		(select /*+INDEX_ASC(bookList pk_bookList)*/
		rownum rn, bookno, bookname, genre, writer, publisher, status
		from (select * from bookList where bookno>=1 and bookno<=10) where 
	]]>
		<include refid="criteria"/>
	<![CDATA[	
		rownum<=#{pageNum} * #{amount})
		where rn > (#{pageNum}-1) * #{amount}
	]]>
</select>

<select id="loanbook" resultType="com.spring.domain.BookVO">
<![CDATA[
 
		select * from
		(select /*+INDEX_ASC(bookList pk_bookList)*/
		rownum rn, bookno, bookname, genre, writer, publisher, status
		from (select * from bookList where bookno>=11 and bookno<=20) where 
	]]>
		<include refid="criteria"/>
	<![CDATA[	
		rownum<=#{pageNum} * #{amount})
		where rn > (#{pageNum}-1) * #{amount}
	]]>
</select>

<select id="bookDetail" resultType="com.spring.domain.BookVO">
	select * from bookList where bookno=#{bookno}
</select>

<select id="bookRental" resultType="com.spring.domain.BookVO">
	select * from bookList where bookno=#{bookno}
</select>



<update id="rentalUpdate">
	update bookList SET status=1, userid=#{userid} WHERE bookno=#{bookno}
</update>
<update id="returnUpdate">
	update bookList SET status=0, userid=NULL WHERE bookno=#{bookno} and userid=#{userid}
</update>

<!-- <update id="rentalUpdate">
  update bookList
  <trim prefix="SET" prefixOverrides="OR "> 

    <if test="status == 0">
         state = 1
    </if> 
    <if test="status == 1">
        status = 0
    </if>
    
  </trim>
  WHERE bookno=${bookno}
</update> -->






<!-- 페이지 나누기를 위한 전체 게시물 수 -->
<select id="getTotalCount" resultType="int">
	select count(*) from bookList
	where 
		<include refid="criteria"/>
	bookno>0
</select>

<!-- 페이지 나누기를 위한 신규 게시물 수 -->
<select id="getNewCount" resultType="int">
	select count(*) from bookList
	where 
		<include refid="criteria"/>
		<![CDATA[
	bookno>=21 and bookno<=30
	]]>
</select>
<!-- 페이지 나누기를 위한 추천 게시물 수 -->
<select id="getRecCount" resultType="int">
	select count(*) from bookList
	where 
		<include refid="criteria"/>
		<![CDATA[
	bookno>=31 and bookno<=50
	]]>
</select>
<!-- 페이지 나누기를 위한 인기 게시물 수 -->
<select id="getPopCount" resultType="int">
	select count(*) from bookList
	where 
		<include refid="criteria"/>
		<![CDATA[
	bookno>=1 and bookno<=10
	]]>
</select>
<!-- 페이지 나누기를 위한 대출 게시물 수 -->
<select id="getLoanCount" resultType="int">
	select count(*) from bookList
	where 
		<include refid="criteria"/>
		<![CDATA[
	bookno>=11 and bookno<=20
	]]>
</select>

<sql id="criteria">	
	<if test="type=='bookname'.toString()">
		(bookname like '%'||#{keyword}||'%') AND
	</if>
	<if test="type=='writer'.toString()">
		(writer like '%'||#{keyword}||'%') AND
	</if>
	<if test="type=='publisher'.toString()">
		(publisher like '%'||#{keyword}||'%') AND
	</if>	
</sql>

  <update id="returnstatusUpdate">
update library_member SET lease_status  =(select status from booklist where booklist.userid=library_member.userid);
    </update> 

</mapper>