<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ManagerMapper">
<select id="ManagerList" resultType="com.spring.domain.MemberVO">
select * from Library_member
</select>
<select id="ManagerRead" resultType="com.spring.domain.MemberVO">
select * from Library_member where userid=#{userid}
</select>
<delete id="ManagerDelete">
delete from Library_member where userid=#{userid}
</delete>
<select id="ManagerApplyList" resultType="com.spring.domain.ApplyBookVO">
select bookname, writer, publisher, substr(publish_year, 1, 4) as publish_year_yy,
substr(publish_year,5) as publish_year_mm,  price, ISBN
 from applybook
</select>

</mapper>