<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.MemberMapper">

<insert id="memberJoin" >

	insert into Library_member(name,birthYear,userid,password,email,address,phone_number) values(#{name},#{birthYear},#{userid},#{password},#{email},#{address},#{phone_number})

</insert>

<select id="login" resultType="com.spring.domain.LoginVO">
	select userid, grade from Library_member where userid=#{userid} and password=#{password}
</select>

<select id="loginpassword" resultType="String">
	select password from Library_member where userid=#{userid}
</select>

<select id="idCheck" resultType="String">
	select userid from Library_member
	where userid=#{userid}	
</select>

<select id="memberinfo" resultType="com.spring.domain.MemberVO">
	select name, birthYear, userid, email, address, phone_number 
	from Library_member where userid=#{userid}
</select>

<update id="memberupdate">
	update Library_member set name=#{name}, email=#{email}, phone_number=#{phone_number} 
	where userid=#{userid}
</update>

<delete id="memberdelete">
	delete from Library_member where userid=#{userid} and password=#{current_password}
</delete>

<update id="pwdupdate">
	update Library_member set password=#{confirm_password} 
	where userid=#{userid} 
</update>

<select id="changepassword" resultType="String">
	select password from Library_member where userid=#{userid}
</select>

<select id="reportinfo" resultType="com.spring.domain.Book_reportVO">
select * from book_report where writer=#{userid}
</select>

<select id="boardinfo" resultType="com.spring.domain.BoardVO">
select * from library_board where writer=#{userid}
</select>

</mapper>

